@import "tailwindcss";

@theme {
  --color-aqi-good: #22c55e;
  --color-aqi-satisfactory: #84cc16;
  --color-aqi-moderate: #eab308;
  --color-aqi-poor: #f97316;
  --color-aqi-verypoor: #ef4444;
  --color-aqi-severe: #991b1b;
}

body {
  background-color: #f9fafb;
  color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
